.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 80px;
};

.block {
  max-width: 80%;
}

.blogLink {
  text-decoration: none;
  color: rgb(251, 215, 132);
  font-size: 16px;
  position: relative;
  &:after {
    content: url(../../theme//img/arrow/right-arrow.svg);
    position: absolute;
    margin-left: 12px;
    top: 10%;
  }
}