.container {
  display: flex;
  align-items: center;
  justify-content: center;
};

.block {
  max-width: 70%;
  position: relative;
}

// *original 
.blogLink {
  text-decoration: none;
  color: rgb(251, 215, 132);
  font-size: 16px;
  // font-size: 18px;
  position: relative;
  &:after {
    content: url(../../theme//img/arrow/right-arrow.svg);
    position: absolute;
    margin-left: 12px;
    top: 10%;
  }
}