// styles for header and presentation content
@mixin container {
  padding: 35px 80px 0;
}
@mixin container1920 {
  padding: 35px 70px 0;
}
@mixin container1440 {
  padding: 35px 60px 0;
}
@mixin container1024 {
  padding: 35px 50px 0;
}
@mixin container768 {
  padding: 35px 40px 0;
}
@mixin container480 {
  padding: 35px 30px 0;
}

// styles for section content
@mixin content {
  padding: 100px 160px 60px;
}
@mixin content1920 {
  padding: 270px 120px 60px; //
}
@mixin content1440 {
  padding: 270px 100px 50px; //
}
@mixin content1024 {
  padding: 270px 80px 50px; //
}
@mixin content768 {
  padding: 270px 60px 40px; //
}
@mixin content480 {
  padding: 270px 40px 40px; //
}

