@mixin container {
  padding: 35px 80px
}

@media screen and (max-width: 1920px) and (min-width: 1441px) {  
  .container {
    padding: 60px 70px
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {  
  .container {
    padding: 50px 60px
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {  
  .container {
    padding: 40px 50px
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {  
  .container {
    padding: 30px 40px
  }
}

@media screen and (max-width: 480px) {  
  .container {
    padding: 20px 30px
  }
}
