@import "src/theme/_mixins";

.sectionContainer {
  @include content();
  display: grid;
  &RightSide {
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
  }
  &LeftSide {
    grid-template-columns: 40% 60%;
    grid-gap: 20px;
  }
}